[submodule "external/Slug"]
	path = external/Slug
	url = https://github.com/EricLengyel/Slug.git
[submodule "external/slughorn"]
	path = external/slughorn
	url = https://github.com/AlphaPixel/slughorn.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "external/harfbuzz"]
	path = external/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
